*,body{
    background-color: rgb(253, 255, 255);
}
#game{
    color: crimson;
    margin: 20px;
}
.bt{
    background-color: rgb(16, 153, 135);
    color: honeydew;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 1%;
    font-size: 30px;
}
.bt:hover{
    color: rgb(16, 153, 135);
    background-color:white;
    border: rgb(16, 153, 135) solid;
}
#res{
    margin: 2%;
    color: rgb(13, 82, 82);
    font-size: 30px;
}
.score{
    color: crimson;
    font-size: 20px;
}
#score{
    font-size: 25px;
    color: rgb(3, 59, 59);
}
.start-msg{
    color:rgb(12, 97, 50);
    font-size: 25px;
    font-weight: bold;
}
#start{
    margin-top: 5%;
}